.explain {
  height:50px;
  width: 44%;
  font-size: 15pt;
}
.numeric {
  height:50px;
  width: 40%;
  font-size: 15pt;
}
.currency {
  height:50px;
  width: 14%;
  font-size: 15pt;
}
#info{
  height: 90px;
  width: 98%;
  font-size: 15pt;
  text-align: center;
}
#txt{
  height: 50px;
  width: 98%;
  font-size: 15pt;
  text-align: center;
}
#bank_info{
  height: 90px;
  width: 70%;
  font-size: 15pt;
}
#email{
  height: 48px;
  width: 70%;
  font-size: 15pt;
}