#name {
  height:50px;
  width: 98%;
}
.num_txt {
  height:50px;
  width: 34%;
}
#cel {
  border-collapse: collapse;
}
.td_15{
  background-color: #F5F5F5;
  width: 15%;
  text-align:center;
  border-width: 1px 0px;
  border-color: white;
  border-style: solid;
}
.td_68{
  background-color: #F5F5F5;
  width: 68%;
  border-width: 1px 0px;
  border-color: white;
  border-style: solid;
}
.input_txt{
  font-size: 20px;
  background-color: #F5F5F5;
  height: 48px;
  width: 90%;
  border: none;
}
