.move{
  width: 33%;
  text-align: center;
}
#tag_td{
  width: 84%;
  text-align: center;
  font-size:25px;
}
#tag_name{
  width: 80%;
  height: 48px;
  font-size:15px;
}
#search{
  width: 15%;
}
#cel {
  border-collapse: collapse;
}
.td_98{
  background-color: #F5F5F5;
  width: 98%;
  border-width: 1px 0px;
  border-color: white;
  border-style: solid;
  height: 50px;
  text-align: center;
}
.td_99{
  background-color: #F5F5F5;
  width: 99%;
  border-width: 1px 0px;
  border-color: white;
  border-style: solid;
  height: 50px;
}
.input_txt{
  font-size: 20px;
  background-color: #F5F5F5;
  height: 48px;
  width: 98%;
  border: none;
}
.td_49{
  width: 49%;
  border-width: 1px 0px;
  border-color: white;
  border-style: solid;
  height: 50px;
}
