#center{
  font-size: 14px;
}
#question{
  height: 85px;
  width: 98%;
}
.choice{
  height: 50px;
  width: 98%;
  background-color: #F5F5F5;
  cursor: pointer;
}
#photo{
  height: 98%;
  width: 98%;
}
.num_txt{
  height: 50px;
  width: 34%;
}
.ans_u_correct{
  height: 50px;
  width: 12%;
  text-align: center;
  background-color: rgba(0,255,0,0.2);
  border-width: 0px 0px;
}
.ans_u_incorrect{
  height: 50px;
  width: 12%;
  text-align: center;
  background-color: rgba(255,0,0,0.2);
  border-width: 0px 0px;
}
.ans_icon{
  max-width: 35px;
  text-align: center;
}
#big_result{
  position: relative;
}
.big_icon{
  position: absolute;
  top: -80px;
  left: 10px;
  height: 300px;
  z-index: 3;
  opacity: 0.6;
}
.input_txt{
  height: 45px;
  width: 90%;
}
