#name {
  height:50px;
  width: 98%;
}
.num_txt {
  height:50px;
  width: 34%;
}
.td_15{
  width: 15%;
  text-align:center;
  border-width: 1px 0px;
  border-color: white;
  border-style: solid;
}
.td_84{
  width: 84%;
  border-width: 1px 0px;
  border-color: white;
  border-style: solid;
}
.input_txt{
  font-size: 20px;
  background-color: #F5F5F5;
  height: 48px;
  width: 98%;
  border: none;
}
#introduce{
  height: 90px;
  width: 300px;
  font-size: 15pt;
  word-break : break-all;
}
